.top-navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: #641566;
}
.top-navbar span{
  color: white;
}
.top-navbar ul{
  list-style: none;
  display: flex;
}
.top-navbar li{
  margin:  0px 17px;
  margin-top: 5px;
}
.top-navbar a{
  color: white;
}
.top-navbar a:hover{
  color: chartreuse;
}

@media (max-width: 768px) {
  .top-navbar {
    display: none;
  }
}