/* For Count Section */
.count-container {
  height: auto;
  width: 100%;
  margin-top: 3.2rem;
}

.float-end,
.float-start {
  display: block;
  margin-top: -1rem;
}

.count-container .count-head {
  font-size: 2rem;
  text-align: center;
  font-family: "Cormorant", serif;
}

.count-container .count-txt {
  font-size: 1.2rem;
  margin-left: 0;
  text-align: center;
  font-family: "Cormorant", serif;
  margin-top: 0;
}

.count-container .count-details,
.count-container .count-details-icon {
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.count-container .count-details p,
.count-container .count-details span {
  margin-top: 0.5rem;
}

@media (min-width: 375px) and (max-width: 1000px) {
  .count-container {
    height: auto;
  }
  .float-end,
  .float-start {
    display: none;
  }
  .count-container .count-head {
    font-size: 1.2rem;
    text-align: center;
  }

  .count-container .count-txt {
    font-size: 0.8rem;
    text-align: center;
    /* margin-top: -0.5rem; */
  }

  .count-container .count-details,
  .count-container .count-details-icon {
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
    font-weight: bold;
  }
}