.count-image {
  height: 234px;
  width: 1345.76px;
  /* background-color: black; */
}

.main-container {
  /* display: flex; */
  margin-top: 30px;
}

.rightimg-container {
  padding-right: 5%;
}
.starimg-container {
  margin-top: 5%;
}

.headtxt {
  width: 100%;
  /* text-align: center; */
  font-family: "Cormorant", serif;
  margin-left: 22%;
}
.heading-text {
  font-size: 48px;
  font-weight: 700;
  line-height: 30.8px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.pratxt {
  font-size: 20px;
  font-weight: 500;
  line-height: 19.8px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.details {
  width: 1092px;
  height: 124px;
  background-color: rgb(240, 231, 233);
  position: absolute;
  opacity: 3;
  margin-right: 10%;
  margin-left: 10%;
  box-shadow: 10px 10px 20px 20px rgba(0.2, 0.2, 0.2, 0.2);
}

.dtimg {
  width: 100%;
  height: 100%;
}

.enroll-container {
  position: relative;
  width: 100%;
  height: 637.62px;
}

.enroll-background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layer2-image,
.layer3-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layer2-image {
  z-index: 2;
  width: 858px;
  height: 309.49px;
  margin-left: 17%;
}

.layer3-image {
  z-index: 3;
  width: 437.9px;
  height: 360.29px;
  margin-left: 26%;
  margin-top: 17%;
  opacity: 0.7;
}

.text-over-img {
  position: absolute;
  top: 20%;
  left: 5%;
}

.enroll-headtxt {
  margin-top: 10%;
  margin-bottom: 3%;
  font-family: "Cormorant", serif;
  font-size: 55px;
  line-height: 60.75px;
}

.headtxt1 {
  color: rgb(106, 75, 134);
}
.headtxt2 {
  color: #5a156b;
}
.headtxt3 {
  color: blueviolet;
}

.enroll-para {
  font-family: "Cormorant", serif;
  font-size: 32px;
}

.enroll-para-container {
  width: 62%;
  height: auto;
}

.enroll-btn {
  width: 300px;
  height: 50.22px;
  background-color: #641566;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  margin-left: 20px;
  font-family: "Cormorant", serif;
  margin-left: 10%;
  font-size: 25px;
}

.features-container{
    width: 100%;
    height: 292px;
    margin-top: 5%;
}
.feature-heading{
    text-align: center;
    margin-top: 8%;
    font-family: "Cormorant", serif;
    color: #201041;
    font-size: 40px;
    font-weight: 700;
}
.feature-sub-heading{
    font-family: "Cormorant", serif;
    text-align: center;
    margin-top: -2%;
    font-size: 23px;
}
.feature-cards{
    display: flex;
}